* body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74b9ff, #a29bfe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 95%;
    padding: 10px;
    background: #6c5ce7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

    button:hover {
        background: #341f97;
    }

.toggle {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #6c5ce7;
    cursor: pointer;
    text-decoration: underline;
}

.message-box {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    display: none;
}

    .message-box.success {
        background-color: #d4edda;
        color: #155724;
    }

    .message-box.error {
        background-color: #f8d7da;
        color: #721c24;
    }

/* Popup quên mật khẩu */
.forgot-box {
    display: none;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

    .forgot-box input {
        width: 100%;
    }

    .forgot-box button {
        margin-top: 10px;
    }

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
